/* ---------- NAVBAR ---------- */

.navbar{

width:90%;

height:80px;

margin:25px auto;

padding:0 35px;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.15);

border-radius:22px;

box-shadow:0 8px 35px rgba(0,0,0,.35);

position:sticky;

top:20px;

z-index:100;

}

/* ---------- LOGO ---------- */

.navbar-logo{

display:flex;

align-items:center;

gap:12px;

}

.logo-icon{

font-size:34px;

}

.logo-text{

font-size:28px;

font-weight:700;

background:linear-gradient(
90deg,
#60A5FA,
#A855F7
);



color:rgb(209, 193, 193);

}

/* ---------- LINKS ---------- */

.navbar-links{

display:flex;

gap:40px;

list-style:none;

}

.navbar-links li{

cursor:pointer;

}

.navbar-links a{

text-decoration:none;

font-size:18px;

font-weight:500;

color:white;

transition:.3s;

}

.navbar-links a:hover{

color:#60A5FA;

}

/* ---------- CLOCK ---------- */

.clock-box{

padding:10px 18px;

border-radius:14px;

background:rgba(255,255,255,.08);

border:1px solid rgba(255,255,255,.1);

text-align:center;

}

.clock-time{

font-size:20px;

font-weight:700;

color:white;

margin:0;

}

.clock-label{

font-size:13px;

color:#d1d5db;

}

/* ---------- RESPONSIVE ---------- */

@media(max-width:900px){

.navbar{

flex-direction:column;

height:auto;

padding:20px;

gap:18px;

}

.navbar-links{

gap:20px;

}

.logo-text{

font-size:22px;

}

}